<!--
 * @陕西唐远
 * @文件名: 
 * @作者: 李浩源
 * @Git: e
 * @Date: 2019-10-24 14:12:00
 * @描述: 
 * @版本: 1.00
 * @修改历史纪录: （版本 修改时间 修改人 修改内容）
 * @记录:  
 -->
<!--
  * @作者: 张黎博
 * @Git: zlb
 * @描述: 
 * @版本: 1.00
 * @修改历史纪录: （版本 修改时间 修改人 修改内容）
 * @记录:  1 20191030 zlb  个人访问时隐藏查询功能 增改按钮 
 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>工作经历</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../../Widget/verify/css/verify.css" media="all">

    <style>
        #yzm {
            width: 70%;
            margin: 0 auto;
            margin-top: 20px;
        }
        
        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card" id="cxDiv">
                    <!--<div class="layui-card-header">操作</div>-->
                    <form class="layui-form"></form>
                    <div class="layui-card-body layui-row layui-col-space10 layui-form-item layui-form">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 70px;padding-right:5px;">查询类别：</label>
                            <div class="layui-input-block" style="margin-left:90px;">
                                <select id="searchType" class="layui-input" lay-filter="searchChange">
                  </select>
                            </div>
                        </div>
                        <div class="layui-inline" style='margin-top:3px;'>
                            <div class="layui-inline allsearch">

                                <label class="layui-form-label" style="width: 56px;padding-right:5px;">关键字：</label>
                                <div class="layui-input-block" style="margin-left:76px;">
                                    <input id="antistop" class="layui-input" />
                                </div>
                            </div>

                            <div class="layui-inline hide userIdsearch">
                                <label class="layui-form-label" style="width: 56px;padding-right:5px;">姓名：</label>
                                <div class="layui-input-block" style="margin-left:76px;">
                                    <select id="userIdsearch" class="layui-input" lay-filter="userIdsearch">
                </select>
                                </div>
                            </div>

                        </div>
                        <div class="layui-inline btnsearch">
                            <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">查询</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">工作经历列表</div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="TableList" lay-filter="test-table-toolbar"></table>

                        <script type="text/html" id="test-table-toolbar-toolbarDemo">
                            <div class="layui-btn-container">
                                {{# if(!userid){ }}{{# if(limitConfig("storeLimt_rsgl", 2)){ }}
                                <button class="layui-btn layui-btn-sm changethisData" lay-event="addInfo">添加</button>{{# } }}{{# if(limitConfig("storeLimt_rsgl", 3)){ }}
                                <button class="layui-btn layui-btn-sm layui-btn-danger delthisData" lay-event="deleteAll">批量删除</button>{{# } }}{{# } }}
                                <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
                                <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
                                <!--<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
                            </div>
                        </script>

                        <script type="text/html" id="test-table-toolbar-barDemo">
                            {{# if(!userid && limitConfig("storeLimt_rsgl", 2)){ }}
                            <a class="layui-btn layui-btn-xs changethisData" lay-event="edit">编辑</a>{{# } }}
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="check">详情</a> {{# if(!userid && limitConfig("storeLimt_rsgl", 3)){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs delthisData" lay-event="delete">删除</a>{{# } }}
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="yzm" style="display: none;">
        <div id="mpanel2"></div>
        <button type="button" id="check-btn" class="verify-btn">确定</button>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script src="../../../../js/SysJS/store.min.js"></script>
    <script src="../../../../Widget/verify/js/jquery.min.js"></script>
    <script src="../../../../Widget/verify/js/verify.js"></script>
    <script src="../../../../js/SysJS/HrDataManage.js"></script>
    <script src="../../../../js/SysJS/limit.js"></script>
    <script src="../../../../js/views/Hr_User/DataList_WorkExperience.js"></script>
    <script src="../../../../js/SysJS/allSelectJson.js"></script>

    <script type="text/html" id="UserName">
        {{ QueryKeyColor(d['UserName'],'userIdsearch') }}
    </script>
    <script type="text/html" id="Company">
        {{ QueryKeyColor(d['Company'],'antistop') }}
    </script>
    <script type="text/html" id="Position">
        {{ QueryKeyColor(d['Position'],'antistop') }}
    </script>
    <script type="text/html" id="EntryTime">
        {{ QueryKeyColor(d['EntryTime'],'antistop') }}
    </script>
    <script type="text/html" id="QuitTime">
        {{ QueryKeyColor(d['QuitTime'],'antistop') }}
    </script>
    <script type="text/html" id="WorkYears">
        {{ QueryKeyColor(d['WorkYears'],'antistop') }}
    </script>
</body>

</html>