<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
  <style type="text/css">
    .backchange{
      background-color: #f1f1f1;
      text-align: center;
    }
  </style>
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">教育经历详情</div>
        <div class="layui-card-body">
          <table class="layui-table">
            <colgroup>
              <col width="30%">
              <col width="70%">
              <col>
            </colgroup>
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>人物</th>-->
            <!--<th>民族</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <tbody>
            <tr>
              <td class="backchange">姓名</td>
              <td id="UserName"></td>
            </tr>
            <tr>
              <td class="backchange">学历</td>
              <td id="Education"></td>
            </tr>
            <tr>
              <td class="backchange">毕业院校</td>
              <td id="School"></td>
            </tr>
            <tr>
              <td class="backchange">专业</td>
              <td id="Major"></td>
            </tr>
            <tr>
              <td class="backchange">入学时间</td>
              <td id="BegTime"></td>
            </tr>
            <tr>
              <td class="backchange">毕业时间</td>
              <td id="EndTime"></td>
            </tr>
            <tr>
              <td class="backchange">计算机水平</td>
              <td id="ComputerLevel"></td>
            </tr>
            <tr>
              <td class="backchange">外语水平</td>
              <td id="EnglishLevel"></td>
            </tr>
            <tr>
              <td class="backchange">特长</td>
              <td id="Speciality"></td>
            </tr>
            </tbody>
          </table>
          <!-- <table class="layui-table">
            <colgroup>
              <col width="20%">
              <col width="30%">
              <col width="20%">
              <col width="30%">
              <col>
            </colgroup>
            <tbody>
            <tr>
              <td class="backchange">姓名</td>
              <td id="userId"></td>
              <td class="backchange">学历</td>
              <td id="education"></td>
            </tr>
           
            <tr>
              <td class="backchange">毕业院校</td>
              <td id="school"></td>
              <td class="backchange">专业</td>
              <td id="major"></td>
            </tr>
            <tr>
              <td class="backchange">入学时间</td>
              <td id="begTime"></td>
              <td class="backchange">毕业时间</td>
              <td id="endTime"></td>
            </tr>
            <tr>
             
            </tr>
            <tr>
              <td class="backchange">计算机水平</td>
              <td id="computerLevel"></td>
              <td class="backchange">外语水平</td>
              <td id="englishLevel"></td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td class="backchange">特长</td>
              <td colspan="3" id="speciality"></td>
            </tr>
            </tbody>
          </table> -->
        </div>
      </div>
      <!--<div class="layui-card">-->
        <!--<div class="layui-card-header">附件</div>-->
        <!--<div class="layui-card-body"></div>-->
      <!--</div>-->
    </div>
  </div>
</div>
</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../../js/SysJS/store.min.js"></script>
<script src="../../../../Widget/verify/js/jquery.min.js"></script>
<script src="../../../../js/SysJS/HrDataManage.js"></script>
<script src="../../../../js/SysJS/allSelectJson.js"></script>
<script src="../../../../js/views/Hr_User/Education_check.js"></script>
</html>