<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <style type="text/css">
        .userInfoTable {
            width: 800px;
            border: 1px solid #ddd;
            margin: 0 auto;
            height: 650px;
        }
        
        .userInfoTable tr {
            width: 100%;
        }
        
        .userInfoTable td {
            width: 10%;
            text-align: center;
            border: 1px solid #ddd;
        }
        
        .userInfoTable input {
            border: 0 solid;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">员工信息</li>
                            <li>调动记录</li>
                            <li>合同管理</li>
                            <li>教育经历</li>
                            <li>工作经历</li>
                            <li>获得奖励</li>
                            <li>获得惩罚</li>
                            <li>培训记录</li>
                            <!-- <li>薪资统计</li> -->
                            <li>证件管理</li>
                            <li>所获职称</li>
                        </ul>
                        <div class="layui-tab-content" style="min-height: 85vh;">
                            <!-- 员工信息 -->
                            <div class="layui-tab-item layui-show" id="ifarmDiv">

                            </div>

                            <!-- 调动记录 -->
                            <div class="layui-tab-item" id="ddjlDiv">

                            </div>

                            <!-- 合同管理 -->
                            <div class="layui-tab-item" id="htglDiv">

                            </div>

                            <!-- 教育经历 -->
                            <div class="layui-tab-item" id="jyjlDiv">

                            </div>

                            <!-- 工作经历 -->
                            <div class="layui-tab-item" id="gzjlDiv">

                            </div>

                            <!-- 获得奖励 -->
                            <div class="layui-tab-item" id="hdjlDiv">

                            </div>

                            <!-- 获得惩罚 -->
                            <div class="layui-tab-item" id="hdcfDIv">

                            </div>


                            <!-- 培训记录 -->
                            <div class="layui-tab-item" id="pxjlDiv">

                            </div>

                            <!-- 薪资统计 -->
                            <!-- <div class="layui-tab-item" id="zxtjDiv">

                            </div> -->


                            <!-- 证件类型 -->
                            <div class="layui-tab-item" id="zjlxDiv">

                            </div>


                            <!-- 所获职称 -->
                            <div class="layui-tab-item" id="shzcDiv">

                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="layui-card">-->
                <!--<div class="layui-card-header">附件</div>-->
                <!--<div class="layui-card-body"></div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../../js/SysJS/store.min.js"></script>
<script src="../../../../js/SysJS/HrDataManage.js"></script>
<script src="../../../../Widget/verify/js/jquery.min.js"></script>
<script src="../../../../js/SysJS/allSelectJson.js"></script>
<script src="../../../../Widget/uploadImage/jquery-1.8.3.min.js"></script>
<script src="../../../../Widget/uploadImage/upload.js"></script>
<script src="../../../../js/views/Hr_User/UserAllInfo.js"></script>

</html>