@{
    ViewBag.Title = "Test2";
}

<h2>图片上传测试</h2>
<form action="/v1/Common/UploadChatPicture" method="post" enctype="multipart/form-data">
   

    <input name="1d99257a7fcf4e35aef4654dc0521220" type="hidden" value="1d99257a7fcf4e35aef4654dc0521220" />

    <input type="file" name="HeaderImg" />
    <br /><input type="submit" />
</form>
