<!--
 * @陕西唐远
 * @文件名: roleLimitAdd.html
 * @作者: 张黎博
 * @Git: zlb
 * @Date: 2019-09-11 15:22:09
 * @描述: 角色配置列表添加页html
 * @版本: 1.00
 * @修改历史纪录: （版本 修改时间 修改人 修改内容）
 * @记录:  
 -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <!-- <link rel="stylesheet" src="../../../../Widget/verify/css/verify.css"> -->

</head>
<style>

</style>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <form class="layui-form" action="">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body layui-row layui-col-space10">
                            <input type="hidden" value="" id="XDLMID" name="XDLMID" />
                            <input type="hidden" name="XDLMitemNum" id="itemNum" />
                            <input type="hidden" value="7015" name="TblNum" />
                            <div class="layui-form-item">
                                <label class="layui-form-label">栏目名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="XDLMitemlm" class="layui-input" id="itemlm" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">子栏目名称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="XDLMitemname" class="layui-input" id="itemname" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">角色系统</label>
                                <div class="layui-input-block">
                                    <select id="xmbh" name="XDLMxmbh" required>
                            <!--			 		 	<option value=""></option>-->
                            <option value="rsgl">人事系统</option>
							<!-- <option value="kyxx">科研系统</option> -->
							<!--<option value="sygl">项目系统</option>
			 		 	<option value="syzl">档案系统</option>
			 		 	<option value="fzjc">辅助决策</option>
                        <option value="sycw">财务系统</option>-->
						</select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button id="saveHZ" class="layui-btn" lay-submit lay-filter="XMForm">添加</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script type="text/javascript" src="../../../../lib/js/store.min.js"></script>
<script type="text/javascript" src="../../../../lib/js/jquery-1.8.3.min.js"></script>
<script src="./js/xdDataMange.js"></script>
<script src="./js/roleLimitAdd.js"></script>