<!--
 * @陕西唐远
 * @文件名: 保险系数列表
 * @作者: 李浩源
 * @Git: e
 * @Date: 2019-10-24 14:12:00
 * @描述: 
 * @版本: 1.00
 * @修改历史纪录: （版本 修改时间 修改人 修改内容）
 * @记录:  
 -->
<!DOCTYPE html>
<html>

<head>
    <title>保险系数</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content../x="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../../Widget/verify/css/verify.css" media="all">
    <style>
        #yzm {
            width: 70%;
            margin: 0 auto;
            margin-top: 20px;
        }
        
        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <!--<div class="layui-card-header">操作</div>-->
                    <div class="layui-card-body layui-row layui-col-space10 layui-form-item layui-form">

                        <form class="layui-form">

                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 70px;padding-right:5px;">查询类别：</label>
                                <div class="layui-input-block" style="margin-left:90px;">
                                    <select id="searchType" class="layui-input" lay-filter="searchChange">
								
								</select>
                                </div>
                            </div>

                            <div class="layui-inline ">
                                <div class="layui-inline allsearch">
                                    <label class="layui-form-label" style="width: 56px;padding-right:5px;">关键字：</label>
                                    <div class="layui-input-block" style="margin-left:76px;">
                                        <input id="antistop" class="layui-input" />
                                    </div>
                                </div>

                                <!-- <div class="layui-inline hide depIdsearch">
						  <label class="layui-form-label" style="width: 70px;padding-right:5px;">所在部门：</label>
						  <div class="layui-input-block" style="margin-left:90px;">
						
								 <select id="depIdsearch" class="layui-input" lay-filter="depIdsearch">
										
							  </select>
						  </div>
						</div> -->

                            </div>

                            <div class="layui-inline btnsearch">
                                <button class="layui-btn" lay-submit="" lay-filter="search" id="searchBtn">查询</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="layui-card">
                    <div class="layui-card-header">年度社保列表</div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="TableList" lay-filter="test-table-toolbar"></table>

                        <script type="text/html" id="test-table-toolbar-toolbarDemo">
                            <div class="layui-btn-container">
                                {{# if(limitConfig("storeLimt_rsgl", 2)){ }}
                                <button class="layui-btn layui-btn-sm changethisData" lay-event="addInfo">添加</button>{{# } }} {{# if(limitConfig("storeLimt_rsgl", 3)){ }}
                                <button class="layui-btn layui-btn-danger layui-btn-sm delthisData" lay-event="removeAll">批量删除</button>{{# } }}
                            </div>
                        </script>

                        <script type="text/html" id="test-table-toolbar-barDemo">
                            {{# if(limitConfig("storeLimt_rsgl", 2)){ }}
                            <a class="layui-btn layui-btn-xs changethisData" lay-event="edit">编辑</a>{{# } }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="Tomobilize">详情</a> {{# if(limitConfig("storeLimt_rsgl", 3)){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs delthisData" lay-event="del">删除</a>{{# } }}
                            <span class="noData layui-hide">没有操作权限</span>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../../js/SysJS/store.min.js"></script>
<script src="../../../../Widget/jquery-1.8.3.min.js"></script>
<script src="../../../../js/SysJS/HrDataManage.js"></script>

<script src="../../../../js/SysJS/limit.js"></script>
<script src="../../../../Widget/verify/js/jquery.min.js"></script>
<script src="../../../../Widget/verify/js/verify.js"></script>
<script src="../../../../js/views/Hr_Salary/SalaryFactor_list.js"></script>


<script type="text/html" id="year">
    {{ QueryKeyColor(d['年度'],"antistop") }}
</script>

<script type="text/html" id="sbjsmc">
    {{ QueryKeyColor(d['社保基数名称'],"antistop") }}
</script>

<script type="text/html" id="tjr">
    {{ QueryKeyColor(d['添加人'],"antistop") }}
</script>




</html>